@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#848482;  
}
#calculator
{
    border: 1px solid black; 
    border-radius: 16px;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    align-items: center;
    background: url(./background.jpg);
    background-size: 415px;

}
input{
    width: 250px;
    border: none;
padding: 24px;
margin: 10px;
background: transparent;
box-shadow: 0px 3px 15px rgba(4, 32, 89, 0.5);
font-size: 40px;
text-align: right;
cursor: pointer;
}

input::placeholder{
    color: black;
}

button{
    border: none;
    background-color:#c1dbd8;
    width:50px;
    height: 46px;
    margin: 10px;
    border-radius: 10%;
    font-size: 25px;
    cursor: pointer;
}

button:hover{
    color: white;
    border: 2px solid black;
    
}

.equals{
    background-color:#fbc551;
    color: black;
}
.equals:hover{
    color: white;
}

.operators{
    background-color:#ed8c57 ;
    color: black;
}

.operators:hover{
    color:white;
}

